.menubar_wrapper {
  display: none;
}

.menubar_wrapper::-webkit-scrollbar {
  width: 4px;
}

.menubar_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
  border-radius: 10px;
}

.menubar_wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #6d7781;
}

.menubar_mainCategory,
.menuItem_label p,
.menuCollapse,
.menuItem_labelLink p {
  display: none;
}

@media (min-width: 1024px) {
  .menubar_wrapper {
    display: block;
    width: 75px;
    bottom: 0;
    position: fixed;
    transition: all 0.1s ease-out;
    top: 68px;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menubar_top {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    justify-content: center;
    cursor: pointer;
  }

  .menubar_topLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .menubar_topLabel svg,
  .menuItem_label svg,
  .menuItem_labelLink svg {
    width: 22px;
    height: 22px;
  }

  .menubar_topLabel p,
  .menubar_top span {
    display: none;
  }

  .menubar__main {
    position: relative;
  }

  .menubar_mainDivider {
    height: 1px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 15px;
    right: 15px;
  }

  .menubar_mainTitle {
    padding: 25px 25px 0;
    letter-spacing: 0.05em;
    pointer-events: none;
    cursor: default;
    text-transform: uppercase;
    margin-top: 12px;
    font-size: 11px;
  }

  .menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px;
    cursor: pointer;
  }

  .menuItem_label,
  .menuItem_labelLink {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menuItem_labelLink {
    padding: 12px 25px;
    text-decoration: none;
  }

  .menuItem_sub {
    padding-left: 34px;
    display: flex;
    flex-direction: column;
  }

  .menuItem_subLabel {
    cursor: pointer;
    padding: 8px 25px;
    text-decoration: none;
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .menubar_wrapper {
    justify-content: flex-start;
    width: 250px;
    padding: 20px 0;
    left: 0;
  }

  .menubar_top {
    justify-content: space-between;
  }

  .menubar_topLabel p,
  .menubar_top span {
    display: block;
  }

  .menubar_topLabel svg,
  .menuItem_label svg,
  .menuItem_labelLink sv {
    width: 23px;
    height: 23px;
  }

  .menubar_topLabel p {
    margin: 0 !important;
  }

  .menubar_top span {
    background-color: var(--mantine-color-success-4);
    color: var(--mantine-color-white-4);
    border-radius: 4px;
    vertical-align: middle;
    padding: 2px 4px;
    font-size: 11.4px;
    font-weight: 700;
    line-height: 1;
    float: right !important;
  }

  .menubar_mainCategory,
  .menuItem_label p,
  .menuCollapse,
  .menuItem_labelLink p {
    display: block;
  }

  .menuItem_label p,
  .menuItem_labelLink p {
    margin: 0 !important;
  }

  .menuCollapse {
    transition: ease-in 0.2s;
  }

  .menuCollapse.open {
    transform: rotate(180deg);
    transition: ease-out 0.2s;
  }
}
