.stats_wrapper {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  word-wrap: break-word;
  border-radius: 4px;
}

.stats_title {
  flex-grow: 1;
}

.stats_title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.stats_title_value {
  font-size: calc(1.275rem + 0.3vw);
  margin-top: 10px;
}

.stats_chart {
  flex-shrink: 0;
}

.stats_chart_span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 700;
  font-size: 13px;
}

.statsGrid {
  margin-bottom: 4px;
  padding: 0 8px;
  margin-top: 5px;
}
.statsGridCol {
  padding: 0;
  margin-bottom: 24px;
}
