.chat_wrapper {
  border-radius: 4px;
  padding: 20px;
}

.chatUsers_link {
  text-decoration: none !important;
}

.chat_profile {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #ebeef5 !important;
}

.chat_profile img,
.chatUsers_profile img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.chat_profile h5 {
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
}

.profile_svg {
  flex-grow: 1 !important;
  text-align: right;
}

.chat_search {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100vw;
}

.chat_search input {
  height: 37px;
  border-radius: 4px;
  border: none;
}

.chatUsers_wrapper {
  max-height: 549px;
  overflow-y: auto;
  overflow-x: none;
}

.chatUsers {
  display: flex;
  align-items: flex-start;
  padding: 8px;
  gap: 12px;
}

.chatUsers_profile {
  position: relative;
}

.chatUser_status {
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--mantine-color-grey500-2);
  border: 2.5px solid var(--mantine-color-white-4);
  border-radius: 50%;
  bottom: 0;
  left: 35px;
}

.chatUsers_msg {
  width: 100%;
}

.chatUsers_msg h5 {
  font-weight: 500;
  font-size: 14px;
}

.chatUsers_msg h5 span {
  float: right;
  font-size: 12px;
  line-height: 16px;
}

.chatUsers_msgText {
  margin-top: 4px;
  margin-bottom: 0;
}

.chatUsers_msgText span {
  float: right;
  background-color: var(--mantine-color-error-4);
  color: var(--mantine-color-white-4);
  padding: 0 4px 0 4px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
}

.chatUsers_msgText p {
  font-size: 14px;
}
