.Appshell {
  background-color: greenyellow;
  width: 100%;
}

.mantine-bslmsw {
  height: 100vh;
  padding: 0 !important;
  flex: 1 auto;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 70px;
}

.container {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* padding: 20px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Pages Global Style */
.page_titlebox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}

.page_title {
  font-weight: 500;
  line-height: 1.1;
  font-size: 16.8px;
  width: fit-content;
}

@media (min-width: 1024px) {
  .mantine-bslmsw {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
