.Appshell {
  width: 100%;
}

.mantine-bslmsw {
  padding: 0 !important;
  flex: 1 auto;
}

.container {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Pages Global Style */
.page_titlebox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 0;
}

.page_title {
  font-weight: 500;
  line-height: 1.1;
  font-size: 16.8px;
  width: fit-content;
}

.cards_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.cards_header h5 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.cards_header svg {
  cursor: pointer;
}

.cards_collapse {
  box-shadow: var(--mantine-shadow-xs);
  width: 160px;
  border-radius: 4px;
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate3d(-25px, 50px, 0px);
  padding: 4px 0;
}

.cards_collapse_item {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}

.cards_collapse_list p {
  padding: 6px 20px;
  font-size: 14px;
  cursor: pointer;
}

.text-success {
  color: var(--mantine-color-success-4);
}

.text-error {
  color: var(--mantine-color-error-4);
}

.text-primary {
  color: var(--mantine-color-primary-4);
}

.text-warning {
  color: var(--mantine-color-warning-4);
}

@media (min-width: 768px) {
  .page_titlebox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .mantine-bslmsw {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
